{% extends 'bread/base.html' %}
{% block content %}

<div class="container">

<h1>Welcome! Buy my bread!</h1>


  <table class="table table-hover">
    <tr>
      <th>Order date</th>
      <th>We have unsold loafs! - 9am</th>
      <th>Free loafs - 7pm</th>
    </tr>
    {% for morning, evening, day in zipped %}
    <tr>
      <td><a href="#" >{{ day }}</a></td>
      <td>
            {% if morning >= 1 %}
            <a href="{% url 'order_form' order_time="morning" %}">Order</a>
            {% else %}Sorry, all loafs are reserved
            {% endif %}
        </form>
      </td>
      <td>
        {% if evening >= 1 %}
        <a href="{% url 'order_form' order_time="evening" %}">Order</a>
        {% else %}Sorry, all loafs are reserved
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>






{% endblock %}
