{% extends 'bread/base.html' %}
{% block content %}

<h1>Make an order</h1>
<div class="container">
  <form method="POST" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        {{ form.customer }}
    </div>
    <div class="form-group">
        {{ form.order_date }}
    </div>
    <div class="form-group">
        {{ form.order_slot }}
    </div>
    <div class="form-group">
        {{ form.order_details }}
    </div>
    <div class="form-group">
        <button type="submit" class="save btn btn-default">Save</button>
    </div>
  </form>
</div>







{% endblock %}
